.courses{
    padding:10px 0;
    background:#090F1F;
}

.courses .container{
    background:#111827;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:45px;
}

/* ================= Header ================= */

.courses-header{
    text-align:center;
    margin-bottom:45px;
}

.courses-header h2{
    color:#fff;
    font-size:42px;
    margin-bottom:12px;
    font-weight:700;
}

.courses-header p{
    color:#AEB6C5;
    font-size:16px;
    line-height:1.8;
    max-width:650px;
    margin:auto;
}

/* ================= Grid ================= */

.courses-grid{
    display:grid;
    grid-template-columns:repeat(4,minmax(0,1fr));
    gap:22px;
}

/* ================= Footer ================= */

.courses-footer{
    display:flex;
    justify-content:center;
    margin-top:45px;
}

.all-courses-btn{
    display:flex;
    align-items:center;
    gap:10px;

    background:#8B5CF6;
    color:#fff;

    border:none;

    padding:15px 34px;

    border-radius:12px;

    font-size:16px;
    font-weight:700;

    cursor:pointer;

    transition:.3s;
}

.all-courses-btn:hover{

    background:#6D28D9;

    transform:translateY(-3px);

}

.all-courses-btn svg{

    font-size:14px;

}

/* ================= Tablet ================= */

@media(max-width:1100px){

.courses-grid{

grid-template-columns:repeat(2,1fr);

}

}

/* ================= Mobile ================= */

@media(max-width:650px){

.courses{

padding:60px 0;

}

.courses .container{

padding:25px;

}

.courses-grid{

grid-template-columns:1fr;

}

.courses-header h2{

font-size:30px;

}

}