.footer{
    background:#090f1f;
    color:#fff;
    padding:60px 8%;
    direction:rtl;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:50px;
}

.footer-logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.footer-logo img{
    width:65px;
}

.footer-logo h3{
    font-size:28px;
    font-weight:700;
}

.footer-logo span{
    color:#bdbdbd;
    font-size:14px;
}

.footer-column h4{
    margin-bottom:20px;
    font-size:22px;
}

.footer-column p{
    color:#bdbdbd;
    line-height:2;
    display:flex;
    align-items:center;
    gap:10px;
}

.footer-column a{
    display:block;
    color:#bdbdbd;
    text-decoration:none;
    margin-bottom:14px;
    transition:.3s;
}

.footer-column a:hover{
    color:#8b5cf6;
}

.social-icons{
    display:flex;
    gap:15px;
    margin-top:25px;
}

.social-icons svg{
    width:40px;
    height:40px;
    padding:10px;
    border-radius:50%;
    background:#151d33;
    cursor:pointer;
    transition:.3s;
}

.social-icons svg:hover{
    background:#8b5cf6;
}

.footer-bottom{
    margin-top:50px;
    border-top:1px solid rgba(255,255,255,.08);
    padding-top:25px;
    text-align:center;
    color:#9d9d9d;
}

@media(max-width:992px){

.footer-container{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:650px){

.footer-container{
grid-template-columns:1fr;
text-align:center;
}

.footer-logo{
justify-content:center;
}

.social-icons{
justify-content:center;
}

.footer-column p{
justify-content:center;
}

}